/* Zerando marcadores da página */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Paleta de cores */
  --bg-color: #EDF2FF;
  --text-color: #00082F;
  --primary-color: #4263EB;
  --primary-color-hover: #364FC7;
  --git-color: #00082F;
  --in-color: #364FC7;
  --g-color: #fc0404;

    /*padrão de fontes*/
  --font-default: sans-serif;
  --font-emphasis: 'Bahnschrift', SemiBold;
  --font-android: 'Android', cursive;

    /* Padrão font-size */
  --font-size-default: 1em;
  --font-size-empahasis: 2.1em;
  --font-size-mobel: 1em;

    /* Transições */
  --transtion: all 4s ease-in-out;
  --transtion-custom: all 1s cubic-bezier(1, 0, 0, 1);
}

body.dark-blue {
    --primary-color-hover: #EDF2FF;
    transition: 0.5s;
    --bg-color: #00082F;
    --text-color: #FFFFFF;
    --git-color: #ffffff;
    --in-color: #ffffff;
  }
  
  body.dark-pink {
    --bg-color: #00082F;
    --text-color: #EDF2FF;
    --primary-color: #D6336C;
    --primary-color-hover: #A61E4D;
    --git-color: #ffffff;
    --in-color: #ffffff;
    
  }

body{
    /* Estilo do corpo da página */
   background-color: var(--bg-color);
   font-family: var(--font-default);
   height: 100vh;
   color: var(--text-color);
}

.nav {
    /* Barra cabeçalho */
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size:var(--font-emphasis);
}

.nav h1 {
    /* Titulo do cabeçalho */
    width: 80%;
    font-family: var(--font-emphasis);
}

.container {
    /* Div principal da página */
    text-align: center;
    margin: 60px auto;
    width: 300px;
}

img {
    /* Define o tamanho da imagem */
    width: 100%;
}

img.avatar {
    /* Estilização da imagem */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 2.7px;
    border: var(--primary-color) solid 2.5px;
}

.container h1 {
    text-align: center;
    font-size: var(--font-size-empahasis);
    color: var(--text-color);
}

.container .username {
    text-align: center;
    font-size: var(--font-size-default);
    color: var(--primary-color-hover);
    padding: 10px;
    font-weight: 700;
    text-decoration: none;
}

.container ul {
    list-style: none;
    margin: 48px 0;
    color:  var(--primary-color);
}

.container .link{
    float:  center;
    text-decoration: none;
}

ul li a{
    display:  block;
    position: relative;
    font-weight: bold;
    color: var(--primary-color);
    margin: 10px 15px;
    padding: 5px 0;
    text-transform: uppercase;
    text-decoration: none;
}

ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    transition: var(--transtion-custom);
    color: var(--primary-color);
}

ul li a:hover::after {
    width: 100%;
    text-decoration: none;
}

ul li a:hover {
 text-decoration: underline;   
 color: var(--primary-color-hover);
}

.fa-github {
    color: var(--git-color);
}
.fa-linkedin-in {
    color: var(--in-color);
}

.fa-google {
    color: var(--g-color);
}

footer {
    display: flex;
    border-top: 1px solid var(--primary-color);
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    color: var(--color-default);
    justify-content: center;
    padding: 10px 0;
}