/* Zerando marcadores da página */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Paleta de cores */
  --color-background: #e9f2f9;
  --color-default: #1b325f;
  --color-text: #3a89c9;
  --color-emphasis: #f26c4f;

    /*padrão de fontes*/
  --font-default: sans-serif;
  --font-emphasis: 'Bahnschrift', SemiBold;
  --font-android: 'Android', cursive;

    /* Padrão font-size */
  --font-size-default: 1em;
  --font-size-empahasis: 2.1em;
  --font-size-mobel: 1em;

    /* Transições */
  --transtion: all 4s ease-in-out;
  --transtion-custom: all 1s cubic-bezier(1, 0, 0, 1);
}

body{
    /* Estilo do corpo da página */
   background-color: var(--color-background);
   font-family: var(--font-default);
   height: 100vh;
}

.nav {
    /* Barra cabeçalho */
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 80px;
    background-color: var(--color-default);
    color: var(--color-emphasis);
    font-size:var(--font-emphasis);
}

.nav h1 {
    /* Titulo do cabeçalho */
    width: 80%;
    font-family: var(--font-emphasis);
}

.container {
    /* Div principal da página */
    text-align: center;
    margin: 60px auto;
    width: 300px;
}

img {
    /* Define o tamanho da imagem */
    width: 100%;
}

img.avatar {
    /* Estilização da imagem */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 2.7px;
    border: var(--color-default) solid 2.5px;
}

.container h1 {
    text-align: center;
    font-size: var(--font-size-empahasis);
    color: var(--color-emphasis);
}

.container .username {
    text-align: center;
    font-size: var(--font-size-default);
    color: var(--color-default);
    padding: 10px;
    font-weight: 700;
    text-decoration: none;
}

.container ul {
    list-style: none;
    margin: 48px 0;
    color:  var(--color-default);
}

.container .link{
    float:  center;
    text-decoration: none;
}

ul li a{
    display:  block;
    position: relative;
    font-weight: bold;
    color: var(--color-default);
    margin: 10px 15px;
    padding: 5px 0;
    text-transform: uppercase;
    transition: var(--transtion);
    text-decoration: none;
}

ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    transition: var(--transtion-custom);
    color: var(--color-default);
}

ul li a:hover::after {
    width: 100%;
    text-decoration: none;
}

ul li a:hover {
 text-decoration: underline;   
}

.fa-github {
    color: black;
}
.fa-linkedin-in {
    color: var(--color-text);
}

.fa-google {
    color: red;
}

footer {
    display: flex;
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    color: var(--color-default);
    justify-content: center;
    padding: 10px 0;
}